{% from "macro/cmsnav.html" import cmsnav%}
{%extends "admbase.html"%}
{%block head%}
    <title>College Management System</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

{%endblock%}
{%block content%}
    <div class="container" w-tid="21">
        <!-- Sidebar -->
        {{cmsnav()}}
        <main class="main-content" w-tid="111">
            <header class="top-header" w-tid="113">
                <div class="search-box" w-tid="115">
                    <input type="text" placeholder="Search..." w-tid="117"/>
                    <button w-tid="119"><i class="fas fa-search" w-tid="121"></i></button>
                </div>
                <div class="user-profile" w-tid="123">
                    <span class="notification" w-tid="125"><i class="fas fa-bell" w-tid="127"></i></span>
                    <span class="message" w-tid="129"><i class="fas fa-envelope" w-tid="131"></i></span>
                    <div class="profile-img" w-tid="133">
                        
                        <i class="fas fa-user-circle" w-tid="135"></i>
                    </div>
                    <span class="username" w-tid="137">Admin User</span>
                </div>
            </header>
            <!-- Dashboard Section -->
            <div id="dashboard-page" class="content-section" w-tid="139">
                <div class="dashboard" w-tid="141">
                    <h1 w-tid="357">Create New Notice</h1>
                    <div class="students-header" w-tid="359">
                        <p w-tid="361">Notice title and description</p>
                        <a style="text-decoration: none; color:white" href="/admin/notice">
                        <button id="cancel-add-student" class="back-button" w-tid="1515">
                                <i class="fas fa-arrow-left" w-tid="1517"></i> Back to Notice
                        </button></a>
                    </div>
                    <div class="student-form-container" w-tid="1519">
                        {%if data%}
                        <form id="add-student-form" method="POST" action="/admin/update/notice/{{data.id}}" class="student-form"
                        w-tid="1521">
                        {%else%}
                        <form id="add-student-form" method="POST" action="/admin/addnotice" class="student-form" w-tid="1521">
                            {%endif%}
                            <div class="form-row" w-tid="1523">
                                <div class="form-group" w-tid="1525">
                                    <label for="title" w-tid="1527">Title*</label>
                                    <input type="text" id="title" name="title" required="" w-tid="1529" value="{{ data.title }}">
                                </div>
                                <!-- <div class="form-group" w-tid="1571">
                                <label for="new-dob" w-tid="1573">Date of Birth*</label>
                                <input type="date" id="new-dob" name="dob" required="" w-tid="1575" value=""> 
                            </div>-->
                            </div>
                            
                            
                            
                            <div class="form-row" w-tid="1591">
                                <div class="form-group full-width" w-tid="1593">
                                    <label for="content" w-tid="1595">Description*</label>
                                    <textarea id="content" name="content" rows="3" required="" w-tid="1597">{{ data.content }}</textarea>
                                </div>
                            </div>
                            
                            <div class="form-actions" w-tid="1599">
                                <a href="/admin/notice"><button type="button" id="cancel-add-student" class="cancel-btn" w-tid="1601">Cancel</button></a>
                                {%if data%}
                            <button type="submit" class="save-btn" w-tid="1603">Update Notice</button>
                            {%else%}
                            <button type="submit" class="save-btn" w-tid="1603">Add Notice</button>
                            {%endif%}
                            </div>
                        </form>
                    </div>
                    
                    
                    
                </div>
            </div>
        </main>
    </div>
    
{%endblock%}