{% from "macro/cmsnav.html" import cmsnav%}
{%extends "admbase.html"%}
{%block head%}
<title>College Management System</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

{%endblock%}
{%block content%}

<div class="container" w-tid="21">
    <!-- Sidebar -->
    {{cmsnav()}}

    <!-- Queries Section -->
    <main class="main-content" w-tid="111">
        <header class="top-header" w-tid="113">
            <h2>College Management System</h2>
                <!-- <div class="search-box" w-tid="115">
                    <input type="text" placeholder="Search..." w-tid="117"/>
                    <button w-tid="119"><i class="fas fa-search" w-tid="121"></i></button>
                </div> -->
            <div class="user-profile" w-tid="123">
                <span class="notification" w-tid="125"><i class="fas fa-bell" w-tid="127"></i></span>
                <span class="message" w-tid="129"><i class="fas fa-envelope" w-tid="131"></i></span>
                <div class="profile-img" w-tid="133">

                    <i class="fas fa-user-circle" w-tid="135"></i>
                </div>
                <span class="username" w-tid="137"><a href="{{url_for('logout')}}">Logout Admin</a></span>
            </div>
        </header>

        <div id="dashboard-page" class="content-section" w-tid="139">
            <div class="dashboard" w-tid="141">
                <h1 w-tid="357">Queries Received</h1>
                <div class="students-header" w-tid="359">
                    <p w-tid="361">Read all queries and responses Received from contact page</p>

                </div>
                <div class="students-table" w-tid="1167">
                    <table w-tid="1169">
                        <thead w-tid="1171">
                            <tr w-tid="1173">

                                <th w-tid="1177">Name</th>

                                <th w-tid="1181">Email</th>


                                <th w-tid="1187">Subject</th>
                                <th w-tid="1191">Message</th>

                            </tr>
                        </thead>
                        <tbody w-tid="1191">

                            {%for query in queries %}
                            <tr w-tid="1193">

                                <td w-tid="1197">{{ query.name }}</td>
                                <td w-tid="1201">{{ query.email }}</td>
                                <td w-tid="1205">{{ query.subject }}</td>
                                <td w-tid="1209">{{ query.message }}</td>



                            </tr>
                            {%endfor%}


                        </tbody>
                    </table>
                </div>


            </div>
        </div>

    </main>
</div>
{%endblock%}