
{%extends "base.html"%}

{%block head%}
    <title>Login - Brahmagupta Engineering College</title>
    <link rel="stylesheet" href="{{url_for('basic.static', filename='css/main.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    {%endblock%}
    {%block content%}

    <main class="login-page">
        <div class="login-container">
            <h2>Login Portal</h2>
            <div class="login-options">
                <div class="login-option" id="student-login">
                    <i class="fas fa-user-graduate"></i>
                    <h3>Student Login</h3>
                    <form class="login-form hidden" method="post" action="/login/student">
                        <input type="text" placeholder="Email" name="email" required>
                        <input type="password" placeholder="Phone" name="phone" required>
                        <button type="submit">Login</button>
                    </form>
                </div>

                <div class="login-option" id="faculty-login">
                    <i class="fas fa-chalkboard-teacher"></i>
                    <h3>Faculty Login</h3>
                    <form class="login-form hidden" method="post" action="/login/faculty">
                        <input type="text" placeholder="Email" name="email" required>
                        <input type="password" placeholder="Phone" name="phone" required>
                        <button type="submit">Login</button>
                    </form>
                </div>

                <div class="login-option" id="admin-login">
                    <i class="fas fa-user-shield"></i>
                    <h3>Admin Login</h3>
                    <form class="login-form hidden" method="post" action="/login/admin">
                        <input type="text" placeholder="Admin ID" name="id" required>
                        <input type="password" placeholder="Password" name="pass" required>
                        <button type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <!-- <script type="importmap">
        {
            "imports": {
                "config": "./config.js"
            }
        }
    </script> -->

    {%endblock%}