{%macro cmsnav()%}
<aside class="sidebar" w-tid="23">
    <div class="sidebar-header" w-tid="25">
        <h2 w-tid="27">CMS Admin</h2>
    </div>
    <nav class="sidebar-nav" w-tid="29">
        <ul w-tid="31">
            <li w-tid="33"><a href="/" data-page="dashboard-page" w-tid="35"><i class="fas fa-tachometer-alt"
                        w-tid="37"></i> Dashboard</a></li>
            <li class="active" w-tid="39"><a href="/student.html" data-page="students-page" w-tid="41"><i
                        class="fas fa-user-graduate" w-tid="43"></i> Students</a></li>
            <li w-tid="45"><a href="/faculty.html" data-page="faculty-page" w-tid="47"><i
                        class="fas fa-chalkboard-teacher" w-tid="49"></i> Faculty</a></li>
            <li w-tid="51"><a href="/courses.html" data-page="courses-page" w-tid="53"><i class="fas fa-book"
                        w-tid="55"></i> Courses</a></li>
            <li w-tid="57"><a href="/department.html" data-page="department-page" w-tid="59"><i class="fas fa-building"
                        w-tid="61"></i> Departments</a></li>
            <li w-tid="69"><a href="/subject.html" data-page="subject-page" w-tid="71"><i class="fas fa-book-open"
                        w-tid="73"></i> Subjects</a></li>
            <li w-tid="87"><a href="/attendance.html" data-page="attendance-page" w-tid="89"><i class="fas fa-chart-bar"
                        w-tid="91"></i> Attendance</a></li>
            <li w-tid="99"><a href="/notice.html" data-page="notice-page" w-tid="101"><i class="fas fa-bell"
                        w-tid="103"></i> Notice</a></li>
            <li w-tid="93"><a href="/" data-page="settings-page" w-tid="95"><i class="fas fa-cog" w-tid="97"></i>
                    Settings</a></li>

        </ul>
    </nav>
</aside>
{%endmacro%}